.classpath
*.sublime-*
*~
.cache
.idea/
.idea_modules/
.project
.settings/
*.iml
*.stackdump
project/target/
target/
/logs/
/project/*-shim.sbt
/project/project/
/target/
/RUNNING_PID
Vagrantfile.local